<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.max.mapper.ClazzMapper">
    <update id="update">
        update clazz
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="room != null and room != ''">
                room = #{room},
            </if>
            <if test="beginDate != null">
                begin_date = #{beginDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="masterId != null">
                master_id = #{masterId},
            </if>
            <if test="subject != null">
                subject = #{subject},
            </if>
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>
    <select id="list" resultType="com.max.dto.ClazzDTO">
        select * from clazz
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%')
            </if>

            <!--&gt; = >-->
            <if test="begin != null">
                AND begin_date &gt;= #{begin}
            </if>

            <!--&lt; = <-->
            <if test="end != null">
                AND end_date &lt;= #{end}
            </if>
        </where>
        order by update_time desc
    </select>
    <select id="getStudentCountData" resultType="java.util.Map">
        SELECT
        c.name AS clazzName,
        COUNT(s.id) AS studentCount
        FROM clazz c LEFT JOIN student s ON c.id = s.clazz_id
        GROUP BY c.id, c.name
        ORDER BY studentCount DESC;
    </select>
</mapper>