<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.max.mapper.ClazzMapper">
    <select id="list" resultType="com.max.pojo.Clazz">
        select * from clazz
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%')
            </if>

            <!--&gt; = >-->
            <if test="begin != null">
                AND begin_date &gt;= #{begin}
            </if>

            <!--&lt; = <-->
            <if test="end != null">
                AND end_date &lt;= #{end}
            </if>
        </where>
        order by update_time desc
    </select>
</mapper>