<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.max.mapper.EmpMapper">
    <!-- 根據id更新員工信息 -->
    <!-- set標籤:會自動生成set關鍵字; 會自動的刪除掉更新字段後多餘的,-->
    <update id="updateById">
        UPDATE emp
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="job != null">job = #{job},</if>
            <if test="salary != null">salary = #{salary},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="entryDate != null">entry_date = #{entryDate},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 批量刪除員工基本信息 -->
    <delete id="deleteByIds">
        delete from emp where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="list" resultType="com.max.pojo.Emp">
        select emp.*, dept.name deptName from emp left join dept on emp.dept_id = dept.id

        <!-- 用where標籤，可自動去除多餘的and或缺and會自動補齊, 用 1=1 就不需用<where>標籤 -->
        <where>
            <if test="name != null and name != '' ">
                <!-- 用concat拼接， 避免#{}在''裡面， 會被認為純? -->
                emp.name like concat('%',#{name},'%')
            </if>

            <if test="gender != null">
                and emp.gender = #{gender}
            </if>

            <if test="begin != null and end != null">
                and emp.entry_date between #{begin} and #{end}
            </if>
        </where>
        order by emp.update_time desc
    </select>
</mapper>